<div *ngIf="employee">
  <!-- Delte operation dialog-->
  <div *ngIf="operation == 'delete'">
    <h2 mat-dialog-title>DELETE DIRECT REPORT</h2>

    <div mat-dialog-content>
      <p>Permanently delete direct report {{employee.firstName}} {{employee.lastName}}?</p>
      <p><b>This action cannot be undone.</b></p>
    </div>

    <!-- Display the buttons -->
    <div mat-dialog-actions>
      <button mat-flat-button color="warn" [mat-dialog-close]="employee">OK</button>
      <button mat-stroked-button (click)="closeDialog()">CANCEL</button>
    </div>
  </div>

  <!-- Edit operation dialog-->
  <div *ngIf="operation =='edit'">
    <h1 mat-dialog-title>UPDATE COMPENSATION</h1>

    <div mat-dialog-content>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput disabled value="{{employee.firstName}}">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput disabled value="{{employee.lastName}}">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Position</mat-label>
        <input matInput disabled value="{{employee.position}}">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Compensation</mat-label>
        <input matInput type="number" required placeholder="$0" [(ngModel)]="employee.compensation">
      </mat-form-field>
    </div>

    <!-- Display the buttons -->
    <div mat-dialog-actions>
      <button mat-flat-button color=primary [mat-dialog-close]="employee">SAVE</button>
      <button mat-flat-button color=warn (click)="closeDialog()">CANCEL</button>
    </div>

</div>
